node_modules
dist
.parcel-cache
yarn.lock
yarn-error.log
static
.yarn
.DS_Store
.env
.env.e2e
src/.DS_Store
.firebase

# Testing
coverage
.jest
*.log

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
